@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/figtree";

:root {
    --font-figtree: "Figtree Variable", sans-serif;
    --headings: "sacramento", cursive;
    --sub-headings: "merriweather sans", sans-serif;
    --anchors: "poppins", sans-serif;
    --paragraph: "poiret one", cursive;
}

h1, h2, h3 {
    font-family: var(--headings);
}

h4, h5, h6 {
    font-family: var(--sub-headings);
}

a, span, link {
    font-family: var(--anchors);
}

p, li {
    font-family: var(--paragraph);
}